<!DOCTYPE html>

<head>
    <title>About</title>

    <link rel="stylesheet"  href="../css/style.css">
    <link rel = "icon" href="/img/weather.png" >

</head>

<body>
    <div class = "main-content">

    {{>header}}
    
     <p>This site was created by Samridhi. It uses openweathermap.org.</p>
    <img class= "portrait" src = "img/pexels-2903985.jpg">
    </div>

    {{>footer}}
</body>

</html>