<!DOCTYPE html>

<head>

    <title>
        HELLO EXPRESS
    </title>
    <link rel="stylesheet"  href="../css/style.css">
    <link rel = "icon" href="/img/weather.png" >


</head>

<body>
    <div class = "main-content">
    {{>header}}

    <p>Use this site to navigate Weather</p>

    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>
    
     <button id="send-location">My Current Location</button>
    <p id="message-1"></p>
    <p id="message-2"></p>

    </div>
    {{>footer}}
    <script src ="js/app.js"></script>
</body>

</html>